h2 {
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: border-box;
}
h3 {
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: border-box;
}
h4 {
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: border-box;
}